@font-face {
	font-family: 'montserratblack';
	src: url('../fonts/montserrat-black-webfont.woff2') format('woff2'),  url('../fonts/montserrat-black-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'montserratbold';
	src: url('../fonts/montserrat-bold-webfont.woff2') format('woff2'),  
	url('../fonts/montserrat-bold-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'montserratextrabold';
	src: url('../fonts/montserrat-extrabold-webfont.woff2') format('woff2'),  url('../fonts/montserrat-extrabold-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'montserratextralight';
	src: url('../fonts/montserrat-extralight-webfont.woff2') format('woff2'),  url('../fonts/montserrat-extralight-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'montserratlight';
	src: url('../fonts/montserrat-light-webfont.woff2') format('woff2'),  url('../fonts/montserrat-light-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'montserratmedium';
	src: url('../fonts/montserrat-medium-webfont.woff2') format('woff2'),  url('../fonts/montserrat-medium-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'montserratregular';
	src: url('../fonts/montserrat-regular-webfont.woff2') format('woff2'),  url('../fonts/montserrat-regular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'montserratsemibold';
	src: url('../fonts/montserrat-semibold-webfont.woff2') format('woff2'),  url('../fonts/montserrat-semibold-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'montserratthin';
	src: url('../fonts/montserrat-thin-webfont.woff2') format('woff2'),  url('../fonts/montserrat-thin-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_social_shapes';
	src: url('../fonts/social_shapes.eot');
	src: local('☺'), url('../fonts/social_shapes.woff') format('woff'), url('../fonts/social_shapes.ttf') format('truetype'), url('../fonts/social_shapes.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
