@media only screen and (max-width: 1200px) {}

@media only screen and (max-width: 1080px) {
    
}


@media only screen and (max-width: 980px) {
    .top-bar {
       
        position: static;
      
    }
    .navbar-default {
        
        position: static;
        
    }
    .navbar-brand>img {
        display: block;
        width: 135px;
    }
    .nav>li>a {
       
        padding: 15px 6px;
        font-size: 12px;
    }
    .slider-caption {
        
        width: 100%;
        
        top: 10%;
        padding: 0 103px;
    }
    .slider-caption h3 {
        
        font-size: 35px;
        
    }
    .slider-caption p {
        font-size: 20px;
        
    }
    .animate-btn {
        display: none;
    }
    .intro {
        display: block;
        height: auto;
        background: #fff;
    }
    .slider .carousel {
        height: auto !important;
        
    }
    .features {
        padding: 30px 0;
        
    }
    .features h2 {
        
        font-size: 25px;
    }
    .home-menu h2 {
        font-size: 26px;
        
    }
    .benefits h2 {
        
        font-size: 26px;
    }
    .testimonial h2 {
        
        font-size: 25px;
    }
    .call-to-action h2 {
        
        font-size: 25px;
       
    }
    .icons {
        
        margin-bottom: 20px;
    }
    .benefit-bg  .pull-right {
        float: none !important;
    }
    .benefit-bg img {
        margin-bottom: 30px !important;
    }
    section.call-to-action {
        
        padding: 60px 0px;
    }
    .plan-image img {
       
        width: 100%;
    }
    .contact-info {
   
        padding: 30px 40px;
       
    }
    .contact-info h3 {
       
        font-size: 24px;
        
    }
    .contact-info p {
        font-size: 14px;}

        .login-form img {
            width: 100%;
            margin: auto;
        }
        .login-form-inputs h3 {
          
            font-size: 17px;
            
        }
        .login-form-inputs h3 a, .login-form-inputs h3 a:hover {
           
            font-size: 17px;
        }
        .login-form-inputs .pull-right a {
            line-height: 45px;
            font-size: 12px;
        }
        .login-form-inputs  a {
            
font-size: 13px;
        }
        .panel-title>.small, .panel-title>.small>a, .panel-title>a, .panel-title>small, .panel-title>small>a {
            font-size: 20px;
            
        }
        .panel-default>.panel-heading+.panel-collapse>.panel-body {
            
            font-size: 17px;
            
        }
        .panel-heading {
            padding: 30px 15px;
        }
        .inner-text-line img {
           
            left: 10px;
            width:15px;
        }
        .inner-text-line h3 {
           
            font-size: 20px;
        }
        .inner-banner p {
            font-size: 20px;
           
        }
        .inner-banner h3 {
            font-size: 50px;
            margin-top: 80px;
           
            font-weight: bold;
            margin-bottom: 20px;
        }
        .about-text {
            padding: 10px;
        }
        .about-text p {
            
            font-size: 18px;
           
        }
        body{
            overflow-x : hidden;
        }
        .form-control {
           
            width: 100%;
            
        }
        .testimonial-text img {
           
            display: none;
        }
}

@media only screen and (max-width: 767px) {
 .navbar-brand>img {
    
    width: 200px;
}
.benefits {
    background: #fff;
   
}
.testimonial-header h2 {
    
    font-size: 20px;
}
.ratings i {
    font-size: 20px;
    
}

    
}

@media only screen and (max-width: 600px) {
    .top-bar .right-section {
        float: none !important;
    }
    .slider-caption {
  
        display: none !important;
    }  
   
   
    
   
   
    .benefit-bg img {
        display: none !important;
    }
    .benefit-bg.text-left {
        float:none !important;
    }
    .benefits .text-right {
        text-align: center !important;
    }
    
    .benefit-list {
        
        padding: 20px 27px 40px 20px;
        text-align: center !important;
    }
    .home-menu p {
       
        padding: 0 20px !important;
      
    }
    .home-menu .nav-tabs>li {
        display: block !important;
        
    }
    
    section.call-to-action {
        
        padding: 20px !important;
    }
    .testimonial-text p {
       
        font-size: 16px !important;
    }
    .footer-content {
       
        text-align: center !important;
    }
    .footer-content img {
       
        width: 230px !important;
    }
    .bottom-footer {
        
        text-align: center !important;
    }
    .pull-right {
        /* float: none !important; */
    }
    .top-bar .left-section ul li, .top-bar .right-section ul li {
     
        font-size: 14px !important;
        
    }
    .bottom-footer .pull-right {
        float: none !important;
    } 
    .inner-banner h3 {
        font-size: 33px !important;
        margin-top: 50px !important;
        
        margin-bottom: 25px !important;  
    }
    .inner-banner p {
        font-size: 17px !important;
        
        padding: 0 46px !important;
    }
    .meal_plans h2 {
        font-size: 25px !important;
       
    }
    meal_plans .tab-content p {
        font-size: 16px;
        
        text-align: justify !important;
    }
    .plan-image img {
        
        margin-bottom: 30px !important;
        width: 100% !important;
    }
    .plans {
        padding: 20px !important;
    }
    .meal_plans .text-center{
        text-align: left!important;
    }
    .delivery-details {
        padding: 28px 20px !important;
        
    }
    .delivery-details p {
        font-size: 17px !important;
        
    }
    .note p {
        font-size: 16px !important;
        
        padding: 0 30px !important ;
    }
    .menu-items h2 {
        font-size: 26px !important;
        
    }
    .features-title {
        padding: 0 20px !important ;
    }
    .about-text {
        padding: 20px !important;
    }
    .about-text p {
       
        font-size: 16px !important;
        margin: 0 ;
        text-align: justify;
    }
    .press-content-text h3 {
        font-size: 18px !important;
        
    }
    .contact-info {
        
        margin-top: 30px !important;
    }
   
    
    .login-form-inputs h3 {
        
font-size: 20px !important;
        
text-align: center;
    }
    .panel-title>.small, .panel-title>.small>a, .panel-title>a, .panel-title>small, .panel-title>small>a {
        font-size: 15px !important;
       
    }
    .panel-heading {
        padding: 25px 15px !important;
    }
    .panel-default>.panel-heading+.panel-collapse>.panel-body {
       
        font-size: 16px !important ;
        
        text-align: justify !important;
    }
    .panel-default>.panel-heading {
        
        position: relative !important;
    }
    .panel img {
        
        position: absolute !important;
        left: 0 !important;
        top: 30px !important;
    }
    .inner-text-line h3 {
       
        font-size: 20px !important;
    }
    .inner-text-line img {
        width: 15px !important;
       
        left: 10px !important;
    }
    .menu-food-item h3 {
        
        font-size: 20px;
    }
    .nav>li>a {
        padding: 15px 20px;
        font-size: 14px;
    }
    
    .nav>li>a {
        padding: 15px 25px;
        font-size: 13px;
    }
    .nav-tabs >li>a {
        padding: 10px 10px;
        font-size: 12px;
    }
    .plan-image img {
        
        margin-top: 25px;
    }
    .plan-image {
        margin-bottom: 0;
    }
    .input-group {

        width: 100%;
    }
    .login-form .form-control {
        
        width: 100%;
        
    }
    
}

@media only screen and (max-width: 480px) {
    .call-to-action .btn {
        
        display: block;
        margin-bottom: 10px;
    }
    .menu-food-item {
       
min-height: 325px;
    }
    .icons h4 {
        padding-top: 20px;
        padding-bottom: 0px;
    }
}

@media only screen and (max-width: 320px) {}