body {
    font-family: lato;
    overflow-x: hidden;
}

a:hover,
.btn:hover {
    /* background: #8c8c8c; */
    transition: background-color 0.5s ease;
}

.text-default {
    color: #2ac4ea;
}

/* --====== MT ======-- */
    
.mt-5 {
    margin-top: 5px;
}

.mt-10 {
    margin-top: 18px;
}

.mt-25 {
    margin-top: 25px;
}

.mt-50 {
    margin-top: 50px;
}
.mt-55{
    margin-top: 55px;
}




/* --====== BUTTONS ======-- */

.btn-default {
    padding: 8px 30px;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active {
    /* font-size: 18px; */
    padding: 15px 41px;
    background: #2ac4ea;
    color: #fff;
    border-color: #2ac4ea;
    border-radius: 0;
    font-weight: bold;
    border: none;
}

.btn-blue {
    color: #2AC4EA;
    border: 2px solid #2AC4EA;
    font-weight: bold;
}

.btn-blue:hover {
    color: #fff;
    background: #2AC4EA;
    border-color: #2AC4EA;
}

.btn-red {
    color: #EA2A2A;
    border: 2px solid #EA2A2A;
    font-weight: bold;
}

.btn-red:hover {
    color: #fff;
    background: #EA2A2A;
    border-color: #EA2A2A;
}

.btn-yellow {
    color: #F2D21B;
    border: 2px solid #F2D21B;
    font-weight: bold;
}

.btn-yellow:hover {
    color: #fff;
    background: #F2D21B;
    border-color: #F2D21B;
}

.btn-green {
    color: #31BF63;
    border: 2px solid #31BF63;
    font-weight: bold;
}

.btn-green:hover {
    color: #fff;
    background: #31BF63;
    border-color: #31BF63;
}

.red-btn,
.red-btn:hover,
.red-btn:active {
    background: #f11e1e;
    color: #fff;
    padding: 17px 40px;
    font-weight: bold;
    font-size: 18px;
    border-radius: 0;
    border: none;
}

.btn-round {
    border-radius: 300px;
}

.btn-primary-outline {
    border: 2px solid #fff;
    border-radius: 0;
    padding: 16px 25px;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
}

.btn-primary-outline:hover {
    background: #fff;
    padding: 16px 25px;
    color: #2ac4ea;
    font-weight: bold;
    /* font-size: 18px; */
}

.btn-white {
    background: #fff;
    border-radius: 0;
    padding: 16px 25px;
    color: #2ac4ea;
    font-weight: bold;
    /* font-size: 18px; */
    border: 2px solid #fff;
}

.btn-white:hover {
    background: transparent;
    border-radius: 0;
    padding: 16px 25px;
    color: #fff;
    font-weight: bold;
    /* font-size: 18px; */
    border: 2px solid #fff;
}
.btn-purple{
    
        color: #b958dbc2;
        border: 2px solid #b958dbc2;
        font-weight: bold;
    }
    
    .btn-purple:hover {
        color: #fff;
        background: #b958dbc2;
        border-color: #b958dbc2;
    }  


/* --====== NAV TABS ======-- */

.nav-tabs {
    border-bottom: none;
    margin-bottom: 26px;
}

.nav-tabs>li>a {
    border-radius: 0;
    padding: 10px 26px;
    font-weight: bold;
    color: #525C65;
    font-size: 15px;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
    color: #2ac4ea;
    cursor: default;
    background-color: transparent;
    border: 2px solid #2ac4ea;
    border-bottom-color: #2ac4ea;
}

.nav-tabs>li>a:hover {
    border-color: #2ac4ea #2ac4ea #2ac4ea;
    color: #2fc5ea;
}

.nav-tabs>li>a:hover {
    background-color: transparent;
    border: 2px solid;
}

/*====== top bar ====== */

.top-bar {
    background-color: #2AC4EA;
    position: absolute;
    z-index: 2;
    top: 0px;
    width: 100%;
}

.top-bar .left-section {
    float: left;
}

.top-bar .right-section {
    float: right;
}

.top-bar .left-section ul {
    padding: 0;
}

.top-bar .left-section ul li,
.top-bar .right-section ul li {
    list-style: none;
    display: inline-block;
    color: #fff;
    font-size: 16px;
    padding: 12px 0 2px;
    margin: 0 10px;
}

.top-bar .left-section ul li a,
.top-bar .right-section ul li a {
    color: #fff;
}

.top-bar .left-section ul li a:hover,
.top-bar .right-section ul li a:hover {
    color: #fff;
}

.top-bar .left-section ul li i {
    margin-right: 8px;
}

/* ====== navbar ====== */

.navbar-default {
    background-color: #fff;
    border-color: #fff;
    position: absolute;
    width: 100%;
    z-index: 2;
    border-radius: 0;
    top: 46px;
    border: none;
    margin: 0;
    box-shadow: 0 1px 20px rgba(20, 20, 20, 0.2);
}

.navbar-brand {
    padding: 12px 15px;
}

.navbar-right {
    margin-right: -12px;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    color: #fff !important;
    background-color: #DABE18;
}

.navbar-nav>li>a {
    color: #10a5dd;
    padding-top: 22px;
    padding-bottom: 18px;
    margin: 0 1px;
    font-weight: bold;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
    color: #18A8DC;
}

.affix {
    position: fixed !important;
    top: 0;
    z-index: 999;
}

.sign-up a,
.sign-up a:hover,
.sign-up a:active,
.sign-up a:focus {
    color: #fff !important;
    background-color: #D12626 !important;
}
.dropdown-menu>li>a {
    
    padding: 10px 20px;
    
}
.dropdown-menu {
    
    border-radius: 0 !important;
}
.dropdown li {
    background: #2ac4ea !important;
    border-bottom: 1px solid rgb(34, 164, 195);
}
.dropdown li:hover {
    background: #2ac1e7;
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover, .dropdown-menu>li>a:active {
    color: #ffffff;
    text-decoration: none;
    background-color: #25b6da;
}
.dropdown-menu>li>a {
    
padding: 11px 20px;
    
color:#fff;
    
font-weight: bold;
}
ul.dropdown-menu {
    background: #2ac4ea;
}
ul.dropdown-menu {
    background: transparent!important;
    width: 100%;
}
.dropdown:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
}

.dropdown:hover .dropdown-menu {
    display: block;
}
/* ======navbar // ====== */

/* ====== Slider ==== */

.indicators {
    top: 50%;
    position: absolute;
    right: 100px;
    z-index: 2;
}

.indicators li {
    list-style: none;
    width: 15px;
    height: 15px;
    border: 2px solid #fff;
    border-radius: 50%;
    margin: 10px 0;
}

.indicators li.active {
    background: #fff;
}

.slider-caption {
    text-align: center;
    width: 100%;
    position: absolute;
    top: 27%;
    padding: 0 175px;
}

.slider-caption h3 {
    color: #fff;
    font-size: 67px;
    margin-bottom: 30px;
}

.slider-caption p {
    font-size: 25px;
    color: #fff;
    margin-bottom: 60px;
}

.slider-caption h3 span {
    font-weight: bold;
}

.slider .item img {
    width: 100%;
}

.slider .carousel-indicators {
    bottom: 40%;
    width: 83%;
    transform: rotate(90deg);
    margin: 0;
    padding: 0;
}

.slider .carousel-indicators li {
    background: transparent;
    border: 2px solid #fff;
    width: 13px;
    height: 13px;
}

.slider .carousel-indicators .active {
    background: #fff !important;
    border: 2px solid #fff;
    width: 13px;
    height: 13px;
}

.animate-btn {
    position: absolute;
    width: 80px;
    height: 80px;
    background: #fff;
    z-index: 99 !important;
    bottom: -34px;
    margin: auto;
    text-align: center;
    left: 48%;
    border-radius: 50%;
    box-shadow: 0 1px 20px rgba(20, 20, 20, 0.2);
}

.animate-btn-inside {
    width: 30px;
    height: 50px;
    background: transparent;
    margin: 16px auto;
    border-radius: 30px;
    border: 2px solid #2ac4ea;
}

.animate-btn-inside .p {}

p.dot-animate {
    color: transparent;
    width: 6px;
    height: 6px;
    margin: auto;
    background: #2ac4ea;
    border-radius: 100%;
}

.animate-btn-inside p {
    position: relative;
    -webkit-animation-name: example;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-iteration-count: infinite;
    /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}


/* Safari 4.0 - 8.0 */

@-webkit-keyframes example {
    0% {
        left: 0px;
        top: 0px;
    }
    50% {
        left: 200px;
        top: 10px;
    }
    100% {
        left: 0px;
        top: 0px;
    }
}


/* Standard syntax */

@keyframes example {
    0% {
        left: 0px;
        top: 0px;
    }
    50% {
        left: 0px;
        top: 40px;
    }
    100% {
        left: 0px;
        top: 0px;
    }
}

.slider .carousel {
    position: relative;
    height: 100vh;
    overflow: hidden;
}



/* --====== HOMEPAGE MENU ======-- */

.home-menu {
    padding: 86px 0;
    border-bottom: 1px solid #eee;
}
.home-menu .btn-primary {
    font-size: 18px;
}
.home-menu .nav-tabs>li {
    display: inline-block;
    float: none;
    margin-bottom: -1px;
}

.home-menu h2 {
    font-size: 35px;
    font-weight: bold;
    color: #3F4952;
}

.home-menu p {
    font-size: 18px;
    color: #525C65;
    padding: 0 120px;
    margin-bottom: 49px;
    margin-top: 20px;
}

.home-menu .ribbon {
    display: none;
}

/* ====== features ====== */

.features {
    padding: 80px 0;
    position: relative;
    z-index: 2;
}

.features h2 {
    font-weight: bold;
    font-size: 36px;
}

.features-title {
    padding: 0 30px;
    line-height: 31px;
}

.features-title p {
    font-size: 19px;
    color: #525C65;
    margin-top: 30px;
    margin-bottom: 51px;
}

/* ====== features // ====== */

.icons {
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
    padding: 33px 12px;
    border-radius: 5px;
}

.icons i {
    width: 100px;
    height: 100px;
    text-align: center;
    color: #fff;
    border-radius: 50%;
    font-size: 40px;
    padding-top: 36px;
}

.blue-icon i {
    background: #25adde;
}

.blue-icon {
    border-bottom: 6px solid #25adde;
}

.red-icon {
    border-bottom: 6px solid #EA2A2A;
}

.red-icon i {
    background: #EA2A2A;
}

.yellow-icon {
    border-bottom: 6px solid #F2D21B;
}

.yellow-icon i {
    background: #F2D21B;
}

.green-icon {
    border-bottom: 6px solid #31BF63;
}

.green-icon i {
    background: #31BF63;
}

.icons h4 {
    font-weight: bold;
    color: #3F4952;
    font-size: 22px;
    padding-top: 36px;
    padding-bottom: 26px;
}

.icons p {
    font-size: 15px;
    color: #6C7D8C;
    margin: 20px 0 30px;
}

/* --====== benefits ======-- */

.benefit-text {
    padding: 5px;
}
.benefits {
    background: url('../img/diet_benefits.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 60px 0;
    border-bottom: 1px solid #eee;
}

.benefits h2 {
    font-weight: bold;
    font-size: 36px;
    margin-top: 25px;
}

.benefits p {
    font-size: 18px;
    color: #525C65;
    margin-top: 25px;
    margin-bottom: 51px;
}

.benefit-list {
    margin-bottom: 3px;
    padding: 20px 27px 20px 20px;
}

.benefit-list:hover {
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.benefit-list li {
    list-style: none;
    position: relative;
}

.benefit-list h4 {
    font-size: 20px;
    font-weight: bold;
    color: #3F4952;
}

.benefit-list p {
    margin-top: 10px;
    font-size: 16px;
    color: #6C7D8C;
    margin: 0;
}

.benefit-list img {
    margin: 17px auto;
}

/* --====== Benefits ======-- */

section.call-to-action {
    background: #2ac4ea;
    padding: 60px 0 80px;
}

.call-to-action h2 {
    font-weight: bold;
    font-size: 35px;
    color: #fff;
    padding: 0 6px;
}

.call-to-action p {
    font-size: 19px;
    color: #fff;
    margin: 28px 0 52px;
}

.call-to-action .btn {
    margin: 0 17px;
}

/* --====== FOOTER ======--*/

footer {
    padding: 86px 0 0;
}

.footer-content p {
    font-size: 16px;
    color: #6C7D8C;
}

.footer-content img {
    margin-bottom: 15px;
}

.footer-content {
    padding: 0 30px 0 30px;
}

.menu-food-item h3 {
    color: #3F4952;
    font-weight: bold;
}

.footer-content h3 {
    font-size: 15px;
    font-weight: bold;
    color: #3F4952;
}

.footer-content ul {
    padding: 0;
    list-style: none;
    margin-bottom: 33px;
}

.footer-content li a {
    color: #6C7D8C;
}

.footer-content li {
    line-height: 24px;
}

.bottom-footer .footer-social {
    padding: 0;
}

.bottom-footer .footer-social li {
    display: inline-block;
}

.bottom-footer i {
    color: #6C7D8C;
    font-size: 21px;
    margin: 0 7px;
}

p.copyright {
    color: #6C7D8C;
}

.bottom-footer {
    padding: 12px 0;
}

/*--====== ABOUT ======-- */

.inner-banner {
    background-size: cover !important;
    height: 320px;
    overflow: hidden;
    position: relative;
}

.inner-banner::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #00000054;
    z-index: 1;
    top: 0;
    left: 0;
}

.about {
    background: url('../img/food-img-3.png')no-repeat;
}

.inner-banner h3 {
    font-size: 61px;
    margin-top: 73px;
    color: #fff;
    position: relative;
    z-index: 1;
    font-weight: bold;
    margin-bottom: 32px;
}

.inner-banner p {
    font-size: 23px;
    color: #fff;
    position: relative;
    z-index: 1;
    padding: 0 112px;
}

.breadcrumb ol {
    padding: 10px 0 0 0;
}

.breadcrumb ol li {
    display: inline;
    list-style: none;
    font-weight: bold;
    font-size: 17px;
    margin: 0 4px;
}

.breadcrumb ol li a {
    color: #525C65;
    font-weight: bold;
}

.breadcrumb ol li.active {
    color: #2ac4ea;
}

.about-text {
    padding: 58px;
}

.about-text p {
    color: #525C65;
    font-size: 21px;
    margin: 0 0 20px;
}

/* --====== MEAL PLANS ======-- */

.meal_plans {
    padding: 38px 0;
}

.meal_plans h2 {
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 28px;
}

.plan-image img {
    /* margin: auto; */
    box-shadow: 0 1px 20px rgba(20, 20, 20, 0.2);
}

.meal_plans .tab-content p {
    font-size: 17px;
    color: #525C65;
}

.plans {
    padding: 0;
}

.plans h4 {
    font-weight: bold;
    font-size: 20px;
}

.plans p {
    color: #6C7D8C !important;
    font-size: 15px !important;
}

.phase-list {
    margin-bottom: 5px;
}

.phase-list img {
    margin: 10px auto;
}

.plans-1 {
    position: relative;
    padding: 0px 73px 0 50px;
}

.plans-1 img {
    position: absolute;
    left: 20px;
    top: 6px;
}

.plan-image {
    margin-bottom: 65px;
}

.delivery-details h2 {
    color: #3F4952;
    font-weight: bold;
    font-size: 36px;
    margin-bottom: 18px;
}

.delivery-details p {
    font-size: 21px;
    margin-bottom: 10px;
}

.delivery-details {
    padding: 29px 100px 48px;
    box-shadow: 0 1px 20px rgba(20, 20, 20, 0.2);
    border-bottom: 5px solid #2ac4ea;
    border-radius: 6px;
}

section.delivery {
    padding: 32px 0px;
}

.note p {
    font-size: 18px;
    color: #7D90A2;
}

section.note {
    padding: 14px 0 95px;
}

/* --====== MENU ======-- */

.menu {
    background: url('../img/food-img-6.png')no-repeat;
}

.menu-items .nav-tabs li {
    display: inline-block;
    float: none;
}
.menu-items .btn-primary {
    font-size: 20px;
}

.menu-food-item p {
    font-size: 15px !important;
    color: #6C7D8C !important;
    padding: 0 !important;
    margin: 0 !important;
}

.menu-food-title {
    padding: 10px 27px 27px;
}

.menu-food-item:hover {
    cursor: pointer;
    box-shadow: 0 1px 20px rgba(20, 20, 20, 0.2) !important;
}

.food-image {
    position: relative;
}
.menu-food-item {
    /* border: 1px solid #eee; */
    position: relative;
    margin-bottom: 30px;
    min-height: 400px;
    padding: 7px;
}

.food-image img {
    width: 100%;
    float: none;
}

.ribbon {
    font-size: 15px;
    color: #fff;
    position: absolute;
    top: 24px;
    z-index: 2;
    background: #2db0df;
    width: 160px;
    padding: 10px;
    font-weight: bold;
    left: 0;
}

.menu-items h2 {
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 36px;
}

.menu-items {
    padding: 12px 0 90px;
}

/* --====== PRICING ======-- */

.pricing {
    background: url('../img/food-img-6.png')no-repeat;
}

.pricing-section {
    padding: 19px 0 90px;
}

.pricing-section h2 {
    margin-bottom: 31px;
}

.pricing-section .icons {
    padding: 0;
    margin-bottom: 29px;
}

.pricing-details p {
    padding: 10px 40px;
    margin: 0;
    font-size: 19px;
}

.pricing-section .icons img {
    margin-bottom: 30px;
}

.price-food {
    position: relative;
    max-height: 120px;
    overflow: hidden;
}

.price-img-overlay {
    position: absolute;
    top: 50%;
    width: 100%;
    top: 0;
    bottom: 0;
    padding: 1px 30px;
}

.price-img-overlay h3 {
    font-size: 26px;
    color: #ffff;
}

.blue-icon .price-img-overlay {
    background: #009fd9b5;
}

.price-img-overlay p {
    color: #fff;
    font-size: 18px;
}

.pricing-details {
    padding: 22px 0;
}

.pricing-section .btn {
    margin-top: 20px;
}

.red-icon .price-img-overlay {
    background: rgba(234, 42, 42, 0.76);
}

.yellow-icon .price-img-overlay {
    background: hsla(51, 89%, 53%, 0.79);
}

}

.blue-icon .price-img-overlay {
    background: #009fd9b5;
}

.price-img-overlay p {
    color: #fff;
    font-size: 18px;
}

.pricing-details {
    padding: 22px 0 36px;
}

.pricing-section .btn {
    margin-top: 20px;
}

.red-icon .price-img-overlay {
    background: rgba(234, 42, 42, 0.76);
}

.yellow-icon .price-img-overlay {
    background: rgba(242, 210, 27, 0.75);
}

.green-icon .price-img-overlay {
    background: hsla(141, 59%, 47%, 0.81);
}

.purple-icon .price-img-overlay {
    background: #b958dbc2;
}

.purple-icon {
    border-bottom: 6px solid #b958db;
}

/* --====== FAQS ======-- */

.faqs {
    background: url('../img/food-img-5.png')no-repeat;
}

.panel-title>.small,
.panel-title>.small>a,
.panel-title>a,
.panel-title>small,
.panel-title>small>a {
    font-size: 28px;
    display: block;
    font-weight: bold;
}

.panel-group .panel {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: none;
}

.panel-default>.panel-heading {
    border: none !important;
    color: #3F4952;
    background-color: transparent;
    border-color: transparent;
}

.panel-heading {
    padding: 36px 15px;
}

.panel img {
    width: 2%;
    margin-right: 20px;
}

.panel-default>.panel-heading+.panel-collapse>.panel-body {
    border: none;
    color: #6C7D8C;
    font-size: 18px;
    padding: 0 15px 15px;
}

.panel a:hover,
a:focus {
    color: #019bd7 !important;
    text-decoration: none !important;
    outline: 0 !important;
}

section.faqs-content {
    padding: 60px 0;
}

/* --====== LOGIN ======-- */

.login {
    background: url('../img/food-img-6.png')no-repeat;
}

.login-form img {
    margin: auto;
}

.login-form-inputs {
    margin: 46px 0;
}

.login-form-inputs h3 {
    margin-bottom: 30px;
    font-size: 22px;
    color: #525C65;
}

.login-form .form-control {
    font-size: 15px;
    padding: 20px 12px;
    background: transparent;
    /* border-left: none; */
    /* border-top: none; */
    /* border-right: none; */
    border-radius: 0 !important;
    box-shadow: none;
    width: 260px;
    border-radius: 4px !important;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 1px !important;
}

.login-form .input-group-addon {
    background-color: transparent;
    border-radius: 0;
    padding: 0 10px 0 10px;
    width: 38px;
    border-top-left-radius: 3px !important;
    border-bottom-left-radius: 3px !important;
}

.login-form .input-group-addon i {
    font-size: 18px;
}

a.check {
    font-size: 15px;
    vertical-align: middle;
    color: #9BA7B2 !important;
}

.login-form-inputs a {
    vertical-align: middle;
    color: #2ac4ea;
    font-size: 15px;
}

.login-form-inputs h3 a,
.login-form-inputs h3 a:hover {
    color: #009fd7 !important;
    font-size: 22px;
}

.login-form .btn {
    padding: 9px 50px;
    /* border-radius: 3px; */
    color: #fff;
    font-size: 20px;
}

/* --====== contact ======-- */

.contact {
    background: url('../img/food-img-7.png')no-repeat;
}

.contact-text input {
    box-shadow: none;
    padding: 20px;
    border-radius: 3px !important;
    font-size: 15px;
}
.contact-info i {
    margin-right: 14px;
}
.contact-text .input-group-addon {
    opacity: 0;
    background: transparent;
    border-right: none;
}

.social-icons i {
    color: #8596a6;
    margin-right: 10px;
    font-size: 24px;
    margin-right: 17px;
}

.contact-info p {
    font-size: 15px;
    color: #8596A6;
}

.social-icons {
    padding: 0;
    text-align: center;
    margin-top: 35px;
    margin-bottom: 28px;
}

.social-icons li {
    display: inline-block;
}

.bottom-footer i {
    color: #6C7D8C;
    font-size: 21px;
    margin: 0 7px;
}

.social-icons a {
    color: #8596a6;
}

.contact-info {
    box-shadow: 0 1px 20px rgba(20, 20, 20, 0.2);
    padding: 16px 60px;
    border-bottom: 6px solid #33BEE5;
    border-radius: 5px;
}

.contact-info h3 {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    color: #33BEE5;
    margin-bottom: 20px;
}

.contact-info a {
    color: #33BEE5;
    text-decoration: underline;
}

textarea#comment {
    box-shadow: none;
}

section.contact-text {
    padding: 26px 0 111px;
}

.contact-title h3 {
    color: #8596a6;
    font-size: 20px;
    margin-bottom: 31px;
}

.contact-text .btn {
    padding: 11px 46px;
    border-radius: 0;
    font-size: 20px;
}


/* --====== TESTIMONIALS ======-- */
.testimonials{
    background: url('../img/food-img-5.png')no-repeat;
}
section.testimonial-text {
    padding: 60px 0px;
}
.ratings {
    color: #FFAD00;
    vertical-align: middle;
    /* display:  table-cell; */
    /* float: right; */
}

.testimonial-header h2 {
    font-weight: bold;
    width: 100%;
    /* vertical-align: middle; */
    display:  table-cell;
    color: #3F4952;
}

.testimonial-header {
    /* width: 100%; */
    /* display: table; */
}

.ratings i {
    font-size: 30px;
    margin: 0 2px;
}

.testimonial-body {
    margin-top: 20px;
    font-size: 18px;
    color: #6C7D8C;
}
.testimonial-text img {
    margin: auto;
}
.testimonial-text h3 {
    text-align: center;
    color: #576571;
    font-size: 26px;
    display: none;
}
.row.testimonial-row {
    border-bottom: 2px dashed #eee;
    padding: 30px 0;
}
.text-right h2 {
    float:right;
}
/* --====== TESTIMONIALS ======-- */

.testimonials {
    position: relative;
    padding: 0;
    margin: 0;
}

.testimonial-text h3 {
    color: white;
    margin-bottom: 12px;
    font-weight: 800;
    font-size: 28px;
}

.testimonial-text p {
    color: #525C65;
    font-size: 18px;
}

.carousel-control.left {
    background-image: none;
}

.carousel-control.right {
    background-image: none;
}

p.name {
    font-family: 'open sans';
    font-size: 18px;
    font-weight: bold;
    margin-top: 45px;
}

p.post {
    font-size: 13px;
}

.testimonial-text img {
    height: 120px;
    width: 120px;
    margin: auto;
    border: 4px solid #fff;
    margin-bottom: 20px;
}

.carousel-control span {
    background: white;
    text-shadow: none;
    color: black;
    width: 50px;
    height: 50px;
    text-align: center;
    padding-top: 12px;
    position: absolute;
    top: 50%;
    border-radius: 50%;
    font-size: 28px;
}

.star i {
    margin: 0 1px;
    color: #FFAD00;
    font-size: 30px;
}

.star {
    margin-bottom: 30px;
}

.testimonial .title {
    color: #3F4952 !important;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 60px;
}

.testimonial {
    padding: 83px 0 165px;
}

.carousel-indicators li {
    display: inline-block;
    width: 15px;
    height: 15px;
    background-color: #EAE6E6;
    border: 1px solid #EAE6E6;
}

.carousel-indicators .active {
    width: 15px;
    height: 15px;
    border: 1px solid #2ac4ea;
    background-color: #2ac4ea;
}

.carousel-indicators {
    bottom: -60px;
}
.testimonial h2 {
    color: #333333;
    text-align: center;
    font-weight: bold;
    margin-bottom: 60px;
    font-size: 35px;
}







/* --====== PRESS ======-- */

.press {
    background: url('../img/food-img-2.png')no-repeat;
}

.press-content {
    padding: 32px 0;
}

.press-content-text {
    padding: 20px;
}

.press-content-text p {
    color: #93A5B5;
    font-size: 15px;
    font-weight: bold;
}

.press-content-text a {
    margin-left: 9px;
    color: #22acde;
}

.press-content-text h3 {
    font-size: 21px;
    color: #525C65;
}

.press-item {
    margin-bottom: 20px;
}

.press-item:hover {
    box-shadow: 0 1px 20px rgba(20, 20, 20, 0.2);
    cursor: pointer;
}

.press-item img {
    width: 100%;
    margin: auto;
}

.inner-text-line h3 {
    font-weight: bold;
    font-size: 28px;
}

.inner-text-line p {
    font-size: 19px;
    color: #6C7D8C;
}

.inner-text-line {
    padding: 0 0px 0 31px;
    position: relative;
    border-bottom: 1px solid #eee;
    padding: 18px 0px 26px 35px;
}

.inner-text-line img {
    width: 19px;
    top: 44px;
    position: absolute;
    left: 0;
}

.extra-page-text {
    padding: 27px 0 64px;
}

.copyright i {
    font-size: 13px;
}

/*  */

.inner-pages .top-bar {
    position: static;
}

.inner-pages .navbar-default {
    position: static;
}


.login-form .checkbox {
    margin: 0;
}


/*  */
.pagination>li {
    display: inline-block !important;
}
.pagination {
    
    width: 100%;
}
.pagination>li:first-child>a, .pagination>li:first-child>span {
    
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.pagination>li>a, .pagination>li>span {
    
padding: 7px 16px;
    
color: #525c65;
    
text-decoration: none;
    
background-color: #fff;
    
border: none;
    
font-size: 20px;
    
font-weight: bold;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
   
    background-color: #2ac4ea;
    border-color: #2ac4ea;
    border-radius: 50% !important;
}
.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover {

    color: #ffffff;
    background-color: #2ac4ea;
    border-color: #2ac4ea;
    border-radius: 50%;
}

.pagination>li>span:focus, .pagination>li>span:hover {

    color: #ffffff;
    background-color: #2ac4ea;
    border-color: #2ac4ea;
    border-radius: 50%;
}

agination>li>span:hover {

    color: #ffffff;
    background-color: #2ac4ea;
    border-color: #2ac4ea;
    border-radius: 50%;
}

